<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css"
    href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        </button>
        <a class="navbar-brand" href="/">Matcha</a>
      </div>
      <ul class="nav navbar-nav" data-bind="foreach: folders">
        <li>
          <a href="/" data-bind="text: $data"></a>
        </li>
      </ul>
    </div>
  </nav>
  <h1 class="text-center">Matcha</h1>

</body>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
<script>
  function WebmailViewModel() {
    var self = this;
    self.folders = ['Match', 'Chat', 'Profile', 'Settings'];
  };

  ko.applyBindings(new WebmailViewModel());

//   ko.components.login('login', {
//     viewModel: { require: 'components/ko.components.login/ko.components.login.html' },
//     template: { require: 'components/ko.components.login/ko.components.login.html' }
// });
</script>

</html>