<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body style="height:100%; margin:0;">
  <div id="main" style="min-height:90%; margin-bottom:-50px;">
  <p style="display:inline-block;"><img src="Matcha_logo.png" width="80" height="70" title="Matcha"></p>
  <p data-bind="if: token()" style="padding: 10; display:inline-block;" id="navbar">
    <span data-bind="click: selectView.bind($data, 'match'), style: {padding: 14}">Match</span>
    <span data-bind="click: selectView.bind($data, 'chat'), style: {padding: 14}">Chat</span>
    <span data-bind="click: selectView.bind($data, 'profile'), style: {padding: 14}">Profile</span>
    <span data-bind="click: selectView.bind($data, 'settings'), style: {padding: 14}">Settings</span>
    <span data-bind="click: selectView.bind($data, 'notifications'), style: {padding: 14}">Notifications</span>
    <span data-bind="click: logOut, style: {padding: 14}">Log Out</span>
    <hr>
  </p>

  <div data-bind="if: selectedView() == 'login'" id="login">
    <h3>Enter credentials to log in</h3>
    <table>
      <tr>
        <td>Username:</td>
        <td>Password:</td>
      </tr>
      <tr>
        <td>
          <input data-bind="value: username">
        </td>
        <td>
          <input type="password" data-bind="value: password">
        </td>
        <td>
          <button data-bind="click: submitCreds">Log In</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h6>Oops. I need to <a href="" data-bind="click: selectView.bind($data, 'resetrequest')">reset my
              password</a>.</h6>
        </td>
      </tr>
    </table>
    <h3>New user? Click here to <a href="" data-bind="click: selectView.bind($data, 'register')">register</a>.</h3>
  </div>

  <div data-bind="if: selectedView() == 'match'" id="match">
    <h1>This will be match view.</h1>
  </div>

  <div data-bind="if: selectedView() == 'chat'" id="chat">
    <h1>This will be chat view.</h1>
  </div>

  <div data-bind="if: selectedView() == 'profile'" id="profile">
    <!-- <button>Add new picture</button> -->
    <div data-bind="if: ownImageSources().length < 5">
      <div>Add another picture</div>
      <input type="file" id="myfile" name="myfile" accept=".png,.jpg,.jpeg" data-bind="event: {change: $root.fileSelect}"><br><br>
      <div data-bind="if: imageWorkspace.source()">
        <button data-bind="click: uploadNewImage">Upload New Image</button>
        <button data-bind="click: uploadProfileImage">Upload As Profile Image</button>
      </div>
    </div>

    <div data-bind="foreach: {data: ownImageSources, as: 'image'}" id="profileImage">
      <span data-bind="if: profilePicture == 1">
        <div>Profile Image:</div>
        <img width="18%" height="auto" data-bind="attr: {src: image}, click: $root.deleteImage.bind($data, id)">
      </span>
    </div>

    <span data-bind="foreach: {data: ownImageSources, as: 'image'}" id="otherImages">
      <span data-bind="if: profilePicture == 0">
        <img width="18%" height="auto" data-bind="attr: {src: image}, click: $root.deleteImage.bind($data, id)">
      </span>
    </span>
    <br>

    <div>
      <b>Username</b> <!-- no edit -->
      <div data-bind="text: loggedInUser.username"></div>
      <br>

      <b>First Name</b>
      <!-- ko if: settingEditing() != 'firstname'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'firstname')">Edit</button>
      <div data-bind="text: loggedInUser.firstname"></div>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'firstname'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <input data-bind="value: settingEditingWorkspace">
      </div>
      <!-- /ko -->
      <br>

      <b>Last Name</b>
      <!-- ko if: settingEditing() != 'lastname'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'lastname')">Edit</button>
      <div data-bind="text: loggedInUser.lastname"></div>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'lastname'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <input data-bind="value: settingEditingWorkspace">
      </div>
      <!-- /ko -->
      <br>

      <b>Age</b>
      <!-- ko if: settingEditing() != 'age'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'age')">Edit</button>
      <div type="number" data-bind="text: loggedInUser.age"></div>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'age'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <input data-bind="value: settingEditingWorkspace">
      </div>
      <!-- /ko -->
      <br>

      <b>Gender</b>
      <!-- ko if: settingEditing() != 'gender'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'gender')">Edit</button>
      <div data-bind="text: loggedInUser.gender"></div>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'gender'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <select id="genderList" data-bind="value: settingEditingWorkspace" list="genderList">
          <option value="other">other</option>
          <option value="female">female</option>
          <option value="male">male</option>
        </select>
      </div>
      <!-- /ko -->
      <br>

      <b>Biography</b>
      <!-- ko if: settingEditing() != 'biography'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'biography')">Edit</button>
      <div data-bind="text: loggedInUser.biography() ? loggedInUser.biography : 'Not yet completed.'"></div>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'biography'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <input data-bind="value: settingEditingWorkspace">
      </div>
      <!-- /ko -->
      <br>

      <b>interest</b>
      <!-- ko if: settingEditing() != 'interest'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'interest')">Edit</button>
      <div data-bind="text: loggedInUser.interest"></div>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'interest'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <select id="genderList" data-bind="value: settingEditingWorkspace" list="genderList">
          <option value="other">other</option>
          <option value="female">female</option>
          <option value="male">male</option>
        </select>
      </div>
      <!-- /ko -->
      <br>

      <!-- need to allow for multiple tags adding/deleting, not just editing a single field -->
      <b>tags</b>
      <!-- ko if: settingEditing() != 'tags'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'tags')">Edit</button>
      <div data-bind="text: loggedInUser.tags"></div>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'tags'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <input data-bind="value: settingEditingWorkspace">
      </div>
      <!-- /ko -->
      <br>

      <b>fame not editable</b> <!-- no edit -->
      <div
        data-bind="text: loggedInUser.fame() ? loggedInUser.fame : 'No fame rating yet. Interact with other users to increase.'">
      </div>
      <br>

      <!-- ko if: loggedInUser.locationTracking -->
      <b>gps implement editing</b>
      <!-- ko if: settingEditing() != 'gps'-->
      <button data-bind="click: selectSettingEditing.bind($data, 'gps')">Edit</button>
      <table>
        <tr>
          <td>
            <div data-bind="text: 'Latitude:'"></div>
          </td>
          <td>
            <div data-bind="text: loggedInUser.latitude"></div>
          </td>
        </tr>
        <tr>
          <td>
            <div data-bind="text: 'Longitude:'"></div>
          </td>
          <td>
            <div data-bind="text: loggedInUser.longitude"></div>
          </td>
        </tr>
      </table>
      <!-- /ko -->
      <!-- ko if: settingEditing() == 'gps'-->
      <button data-bind="click: saveChangesToLoggedInUser">Save</button>
      <div>
        <input data-bind="value: settingEditingWorkspace">
      </div>
      <!-- /ko -->
      <br>
      <!-- /ko -->

    </div>

  </div>

  <div data-bind="if: selectedView() == 'settings'" id="settings">
    <!-- username -->
    <!-- password -->
    <!-- email -->
    <!-- dis/enable gps-->
    <h3>Pick a setting to change.</h3>




    <b>Username</b>
    <!-- ko if: settingEditing() != 'username'-->
    <button data-bind="click: selectSettingEditing.bind($data, 'username')">Edit</button>
    <div data-bind="text: loggedInUser.username"></div>
    <!-- /ko -->
    <!-- ko if: settingEditing() == 'username'-->
    <button data-bind="click: saveChangesToLoggedInUser">Save</button>
    <div>
      <input data-bind="value: settingEditingWorkspace">
    </div>
    <!-- /ko -->
    <br>

    <b>Password</b>
    <!-- ko if: settingEditing() != 'password' -->
    <button data-bind="click: selectSettingEditing.bind($data, 'password')">Edit</button>
    <!-- /ko -->
    <!-- ko if: settingEditing() == 'password' -->
    <button data-bind="click: saveChangesToLoggedInUser">Save</button>
    <div>
      <input type="password" data-bind="value: settingEditingWorkspace">
    </div>
    <!-- /ko -->
    <br>

    <b>Email</b>
    <!-- ko if: settingEditing() != 'email' -->
    <button data-bind="click: selectSettingEditing.bind($data, 'email')">Edit</button>
    <div data-bind="text: loggedInUser.email"></div>
    <!-- /ko -->
    <!-- ko if: settingEditing() == 'email' -->
    <button data-bind="click: saveChangesToLoggedInUser">Save</button>
    <div>
      <input type="email" data-bind="value: settingEditingWorkspace">
    </div>
    <!-- /ko -->
    <br>

    <b>Location Tracking</b>
    <button data-bind="click: selectSettingEditing.bind($data, 'locationTracking')">Toggle</button>
    <div data-bind="text: loggedInUser.locationTracking() == 1 ? 'Enabled' : 'Disabled'"></div>
    <br>

  </div>

  <div data-bind="if: selectedView() == 'notifications'" id="notifications">
    <!-- <h1>This will be notifications view.</h1> -->
    <!-- need to implement a loop to refresh notifications without a button and to fix time display -->
    <button data-bind="click: displayNotifications">Fetch New Notifications</button>
    <table style="width:100%" data-bind="visible: notifications().length > 0">
      <tbody data-bind="foreach: {data:notifications, as: 'notif'}">
        <tr data-bind="if: receiver == $root.loggedInUser.username()">
          <td style="padding:20px; border-bottom:1px solid black;">
          <span data-bind="text: sender"></span>
          <span data-bind="text: message"></span>
          <span>your profile at:</span>
          <span data-bind="text: createdAt"></span>
          </td>
        </tr>
        <tr data-bind="if: sender == $root.loggedInUser.username()">
          <td style="padding:20px; border-bottom:1px solid black;">
          <span>You</span>
          <span data-bind="text: message"></span>
          <span data-bind="text: receiver"></span>
          <span>at:</span>
          <span data-bind="text: createdAt"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div data-bind="if: selectedView() == 'reset'" id="reset">
    <h3>Please enter your new password:</h3>
    <input type="password" data-bind="value: password">
    <button data-bind="click: sendNewPassword">Reset Password</button>
    <div><button data-bind="click: logOut">Return to Log In</button></div>
  </div>

  <div data-bind="if: selectedView() == 'resetrequest'" id="resetrequest">
    <h3>Please provide your email address:</h3>
    <input data-bind="value: email">
    <button data-bind="click: sendResetPasswordRequest">Send Request</button>
    <div><button data-bind="click: logOut">Return to Log In</button></div>
  </div>

  <div data-bind="if: selectedView() == 'register'" id="register">
    <h3>Please provide the following information to register:</h3>
    <div>Username:</div>
    <input data-bind="value: newRegistration.username">
    <div>Firstname:</div>
    <input data-bind="value: newRegistration.firstname">
    <div>Lastname:</div>
    <input data-bind="value: newRegistration.lastname">
    <div>Age:</div>
    <input onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" data-bind="value: newRegistration.age">
    <div>Gender:</div>
    <select id="genderList" data-bind="value: newRegistration.gender" list="genderList">
      <option value="other">other</option>
      <option value="female">female</option>
      <option value="male">male</option>
    </select>
    <div>Email:</div>
    <input type="email" data-bind="value: newRegistration.email">
    <div>Password:</div>
    <input type="password" data-bind="value: newRegistration.password">
    <p> </p>
    <div>
      <button data-bind="click: sendNewRegistrationToDb">Register</button>
      <button data-bind="click: logOut">Return to Log In</button>
    </div>
  </div>

  <div id="errordiv"></div>
  </div>
  <footer style="text-align:center; padding:30px; height:50px;">
    <p>Authors: hde-vos jrheeder clongmor rvan-wey</p>
  </footer>
</body> 

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
<script type='text/javascript' src='knockout.mapping.js'></script>
<script>

  async function putUserInViewModel(id) {
    var body = JSON.stringify({
      profileId: id,
    })
    await fetch("http://localhost:3000/profile", {
      method: "POST",
      body: body,
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + viewModel.token(),
      },
    }).then(response =>
      response.json()
    ).then(data => {
      // console.log(data)
      if (data.user && data.images) {
        viewModel.loggedInUser = ko.mapping.fromJS(data.user)
        viewModel.ownImageSources(data.images)
        // data.images.forEach(image => {
        //   viewModel.ownImageSources().push(image.image)
        // });
      } else {
        if (!alert('Unable to complete login. Please try again.')) { window.location.replace("http://localhost:3000/matcha") }
      }
    }).catch(er => {
      document.getElementById("errordiv").innerHTML = "Error setting logged in user data. Reason: " + er.message + "."
    })
    // console.log(ko.toJS(viewModel.loggedInUser))
    // console.log(viewModel.ownImageSources())
  }

  function resetSettingEditing() {
    // console.log("reset setting editing called")
    viewModel.settingEditing('')
    viewModel.settingEditingWorkspace('')
  }

  var viewModel = {
    email: ko.observable(""),
    imageWorkspace: {
      source: ko.observable(""),
      profilePicture: ko.observable(0),
    },
    loggedInUser: null,
    newRegistration: {
      age: ko.observable(""),
      email: ko.observable(""),
      firstname: ko.observable(""),
      gender: ko.observable(""),
      lastname: ko.observable(""),
      password: ko.observable(""),
      username: ko.observable(""),
    },
    ownImageSources: ko.observable([]),
    password: ko.observable(""),
    reset: ko.observable(),
    selectedView: ko.observable(""),
    settingEditing: ko.observable(""),
    settingEditingWorkspace: ko.observable(""),
    token: ko.observable(),
    username: ko.observable(""),
    notifications: ko.observable([]),

    async deleteImage(id, data) {
      if (!confirm("Delete image?")) return
      var body = JSON.stringify({ id: String(id) })
      // console.log(body)
      await fetch("http://localhost:3000/deletePicture", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + viewModel.token(),
        },
      }).then(response =>
        response.json()
      ).then(data => {
        if (data.success) {
          putUserInViewModel(viewModel.loggedInUser.id())
        }
        alert(data.text)
      }).catch(er => {
        document.getElementById("errordiv").innerHTML = "Error updating own data. Reason: " + er.message + "."
      })
    },

    fileSelect(element, event) { // limit size 1000000
      // console.log(event.target.files)
      var file = event.target.files[0]
      if (file.size > 1000000) {
        alert("Must be smaller than 1MB.")
        return
      }
      var reader = new FileReader();
      reader.onload = (function (theFile) {
        return function (e) {
          viewModel.imageWorkspace.source(e.target.result)
          // console.log(viewModel.loggedInUser)
        };
      })(file);
      reader.readAsDataURL(file);
    },

    async logOut() {
      var body = JSON.stringify({ id: viewModel.loggedInUser.id() })
      // console.log(body)
      await fetch("http://localhost:3000/logout", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json',
        },
      }).then(response =>
        // console.log(response)
        response.json()
      ).then(data => {
        // console.log(data)
        if (data.success) {
          alert(data.text)
          window.location.replace("http://localhost:3000/matcha")
        } else {
          return
        }
      }).catch(er => {
        document.getElementById("errordiv").innerHTML = "Error logging out. Reason: " + er.message + "."
      })
    },

    //check setting editing
    async selectSettingEditing(setting, data) {
      viewModel.settingEditing(setting)
      var existingData
      switch (setting) {
        case "locationTracking":
          viewModel.settingEditingWorkspace(viewModel.loggedInUser.locationTracking() == 1 ? 0 : 1)
          await viewModel.saveChangesToLoggedInUser()
          break
        case "password":
          existingData = ""
          break
        case "gps":
          existingData = viewModel.loggedInUser.latitude() + ", " + viewModel.loggedInUser.longitude()
          break
        default:
          existingData = viewModel.loggedInUser[setting]()
      }
      viewModel.settingEditingWorkspace(existingData)
    },

    selectView(view, data) {
      // note here that params are switched around
      // if unsure, use console.log to verify
      // console.log(data)
      // console.log(view)
      viewModel.selectedView(view)
      resetSettingEditing()
      // console.log(viewModel.selectedView())
    },

    async saveChangesToLoggedInUser() {
      var data = { id: viewModel.loggedInUser.id() }
      // add switch statement for gps handling
      if (viewModel.settingEditing() == "gps") {
        var gps = viewModel.settingEditingWorkspace().replace(" ", "").split(",")
        data["latitude"] = gps[0]
        data["longitude"] = gps[1]
      } else if (viewModel.settingEditing() == "password" && !(viewModel.settingEditingWorkspace().length > 7) ) {
        alert("Password should have at least 8 characters.")
        resetSettingEditing()
        return
      } else {
        data[viewModel.settingEditing()] = viewModel.settingEditingWorkspace()
      }
      var body = JSON.stringify(data)
      console.log(body)
      await fetch("http://localhost:3000/updateUser", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + viewModel.token(),
        },
      }).then(response =>
        response.json()
      ).then(data => {
        if (data.success) {
          if (viewModel.settingEditing() == "gps") {
            var gps = viewModel.settingEditingWorkspace().replace(" ", "").split(",")
            viewModel.loggedInUser.latitude(gps[0])
            viewModel.loggedInUser.longitude(gps[1])
          } else {
            viewModel.loggedInUser[viewModel.settingEditing()](viewModel.settingEditingWorkspace())
          }
        }
        alert(data.text)
      }).catch(er => {
        document.getElementById("errordiv").innerHTML = "Error updating own data. Reason: " + er.message + "."
      })
      resetSettingEditing()
    },

    async sendNewPassword() {
      var body = JSON.stringify({
        password: viewModel.password(),
        hash: viewModel.reset() | viewModel.settingEditingWorkspace(),
      })
      // console.log(body)
      await fetch("http://localhost:3000/resetPassword", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json'
        },
      }).then(response =>
        response.json()
      ).then(data => {
        console.log(data)
        if (data.success) {
          if (!alert(data.text)) { window.location.replace("http://localhost:3000/matcha") }
        } else {
          alert("Please request a new reset link.")
        }
      }).catch(er => {
        document.getElementById("errordiv").innerHTML = "Error sending new password. Reason: " + er.message + "."
      })
    },

    async sendNewRegistrationToDb() {
      // { "username": "qwerqwer", 
      // "password": "asdfasdf", 
      // "email": "asdf@asdf.asdf", 
      // "firstname": "asdfasdf", 
      // "lastname": "asdfasdf", 
      // "gender": "male/female/other" }
      // console.log(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(viewModel.newRegistration.email()))
      if (viewModel.newRegistration.username().length < 4)
        alert("Username min 4 characters.")
      else if (viewModel.newRegistration.firstname().length < 4) {
        alert("Firstname min 4 characters.")
      } else if (viewModel.newRegistration.lastname().length < 4) {
        alert("Lastname min 4 characters.")
      } else if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(viewModel.newRegistration.email()))) {
        alert("Enter valid email address.")
      } else if (viewModel.newRegistration.password().length < 8) {
        alert("Password min 8 characters.")
      } else {
        var body = ko.toJSON(viewModel.newRegistration)
        // console.log(body)
        await fetch("http://localhost:3000/createUser", {
          method: "POST",
          body: body,
          headers: {
            'Content-Type': 'application/json'
          },
        }).then(response =>
          response.json()
        ).then(data => {
          // console.log(data)
          if (!data.success) {
            alert(data.text)
          } else {
            if (!alert(data.text + " . Please confirm email address.")) { window.location.replace("http://localhost:3000/matcha") }
          }
        }).catch(er => {
          // alert('Invalid credentials')
          document.getElementById("errordiv").innerHTML = "Error setting token. Reason: " + er.message + " when submitting credentials"
        })
      }
    },

    async sendResetPasswordRequest() {
      var body = JSON.stringify({
        email: viewModel.email()
      })
      // console.log(body)
      await fetch("http://localhost:3000/forgotPassword", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json'
        },
      }).then(response =>
        response.json()
      ).then(data => {
        console.log(data)
        if (data.success == true) {
          if (!alert(data.text)) { window.location.reload(); }
        }
      }).catch(er => {
        document.getElementById("errordiv").innerHTML = "Error resetting pwd. Reason: " + er.message + "."
      })
    },

    async submitCreds() {
      var body = JSON.stringify({
        username: viewModel.username(),
        password: viewModel.password(),
      })
      await fetch("http://localhost:3000/login", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json'
        },
      }).then(response =>
        response.json()
      ).then(data => {
        // console.log(data)
        if (data.token) {
          viewModel.token(data.token)
          viewModel.selectedView('notifications')
          putUserInViewModel(data.id);
        } else {
          alert(data.text)
        }
      }).catch(er => {
        // alert('Invalid credentials')
        document.getElementById("errordiv").innerHTML = "Error setting token. Reason: " + er.message + " when submitting credentials"
      })
    },

    async uploadNewImage() {
      var body = JSON.stringify({
        userId: viewModel.loggedInUser.id(),
        image: viewModel.imageWorkspace.source(),
        profilePicture: viewModel.imageWorkspace.profilePicture(),
      })
      await fetch("http://localhost:3000/uploadPicture", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + viewModel.token(),
        },
      }).then(response =>
        response.json()
      ).then(data => {
        if (data.success) {
          putUserInViewModel(viewModel.loggedInUser.id())
        }
        alert(data.text)
      }).catch(er => {
        document.getElementById("errordiv").innerHTML = "Error updating own data. Reason: " + er.message + "."
      })
      viewModel.imageWorkspace.source("")
      viewModel.imageWorkspace.profilePicture(0)
    },

    uploadProfileImage() {
      viewModel.imageWorkspace.profilePicture(1)
      viewModel.uploadNewImage()
    },

    async displayNotifications() {
      var body = JSON.stringify({
        id: viewModel.loggedInUser.id(),
      })
      await fetch("http://localhost:3000/getNotifications", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + viewModel.token(),
        },
      }).then(response =>
        response.json()
      ).then(data => {
        if (data.success && data.notifications) {
          viewModel.notifications(data.notifications)
          putUserInViewModel(viewModel.loggedInUser.id())
        }
      }).catch(er => {
        document.getElementById("errordiv").innerHTML = "Error updating getting notifications. Reason: " + er.message + "."
      })
    },

  };

  viewModel.selectedView('login')
  const params = new URLSearchParams(window.location.search)
  if (params.has("reset")) {
    viewModel.reset(params.get("reset"))
    viewModel.selectedView("reset")
  }
  if (params.has("verify")) {
    // viewModel.verify(params.get("verify"))
    // viewModel.selectedView("verify")
    // var body = ko.toJSON(viewModel.newRegistration)
    // console.log(body)
    fetch("http://localhost:3000/verify/" + params.get("verify"), {
      method: "GET",
      // body: body,
      headers: {
        'Content-Type': 'application/json'
      },
    }).then(response =>
      response.json()
    ).then(data => {
      console.log(data)
      // if (!data.success) {
      //   alert(data.text)
      // } else {
      if (!alert(data.text)) { window.location.replace("http://localhost:3000/matcha") }
      // }
    }).catch(er => {
      // alert('Invalid credentials')
      document.getElementById("errordiv").innerHTML = "Error verifying email. Reason: " + er.message + "."
    })
  }
  ko.applyBindings(viewModel);
</script>

</html>