<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body>
  <p data-bind="if: token(), style: {padding: 14}">
    <span data-bind="click: selectView.bind($data, 'match'), style: {padding: 14}">Match</span>
    <span data-bind="click: selectView.bind($data, 'chat'), style: {padding: 14}">Chat</span>
    <span data-bind="click: selectView.bind($data, 'profile'), style: {padding: 14}">Profile</span>
    <span data-bind="click: selectView.bind($data, 'settings'), style: {padding: 14}">Settings</span>
    <span data-bind="click: selectView.bind($data, 'notifications'), style: {padding: 14}">Notifications</span>
    <span data-bind="click: logOut, style: {padding: 14}">Log Out</span>
    <hr>
  </p>

  <div data-bind="if: selectedView() == 'login'">
    <h3>Enter credentials to log in</h3>
    <table>
      <tr>
        <td>Username:</td>
        <td>Password:</td>
      </tr>
      <tr>
        <td>
          <input data-bind="value: username">
        </td>
        <td>
          <input data-bind="value: password">
        </td>
        <td>
          <button data-bind="click: submitCreds">Log In</button>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h6>Oops. I need to <a href="" data-bind="click: selectView.bind($data, 'resetrequest')">reset my password</a>.</h6>
        </td>
      </tr>
    </table>
    <h3>New user? Click here to <a href="" data-bind="click: selectView.bind($data, 'register')">register</a>.</h3>
  </div>

  <div data-bind="if: selectedView() == 'match'">
    <h1>This will be match view.</h1>
  </div>

  <div data-bind="if: selectedView() == 'chat'">
    <h1>This will be chat view.</h1>
  </div>

  <!-- ko if: selectedView() == 'profile' -->
  <!-- /ko -->
  
  <div data-bind="if: selectedView() == 'profile'">
    <h1>This will be profile view.</h1>
  </div>

  <div data-bind="if: selectedView() == 'settings'">
    <h1>This will be settings view.</h1>
  </div>

  <div data-bind="if: selectedView() == 'notifications'">
    <h1>This will be notifications view.</h1>
  </div>

  <div data-bind="if: selectedView() == 'resetrequest'">
    <h1>This will be reset request view.</h1>
  </div>

  <div data-bind="if: selectedView() == 'register'">
    <h1>This will be registration view.</h1>
  </div>

  <div id="errordiv"></div>

</body>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
<script>


  var viewModel = {
    password: ko.observable(''),
    selectedView: ko.observable(''),
    token: ko.observable(),
    username: ko.observable(''),

    logOut() {
      this.password = ko.observable('')
      this.selectedView('login')
      this.token = ko.observable()
      this.username = ko.observable('')
    },
    
    // note here that params are switched around
    // if unsure, use console.log to verify
    selectView(view, data) { 
      // console.log(data)
      // console.log(view)
      viewModel.selectedView(view)
      // console.log(viewModel.selectedView())
    },
    
    async submitCreds() {
      var body = JSON.stringify({
        username: viewModel.username(),
        password: viewModel.password(),
      })
      await fetch("http://localhost:3000/login", {
        method: "POST",
        body: body,
        headers: {
          'Content-Type': 'application/json'
        },
      }).then(response =>
        response.json()
      ).then(data => {
        // console.log(data)
        if (data.token) {
          viewModel.token(data.token)
          viewModel.selectedView('notifications')
        } else {
          alert(data.text)
        }
      }).catch(er => {
        // alert('Invalid credentials')
        document.getElementById("errordiv").innerHTML = "Error setting token. Reason: " + er.message + " when submitting credentials"
      })
    },

  };

  viewModel.selectedView('login')
  ko.applyBindings(viewModel);
</script>

</html>