<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <input data-bind="value: username">
  <input type="password" data-bind="value: password">
  <button data-bind="click: checkLoginDetails">Login</button>
  <button data-bind="click: logout">Logout</button>

</body>

<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js'></script>
<script>
  var viewModel = {
    username: ko.observable(''),
    password: ko.observable(''),
    token: ko.observable(''),

    async checkLoginDetails() {
      if (this.username() && this.password()) {
        let fetchData = {
          method: 'POST',
          body: JSON.stringify({
            username: this.username(),
            password: this.password()
          }),
          headers: { 'Content-Type': 'application/json' }
        };
        await fetch('/login', fetchData)
          .then((resp) => resp.json())
          .then(function (data) {
            viewModel.token(data.token);
          });
      }
    },

    logout() {
      viewModel.username('');
      viewModel.password('');
      viewModel.token('');
    }
  };

  ko.applyBindings(viewModel);
</script>

</html>